@media (min-width: 1200px) { /*lg */
    nav.navbar {
        position:relative;
        right:0;
        bottom:0;
    }
    .page-header .row {
        position:relative;
    }
    .newsfeed.jumbotron{
        min-height:270px;
    }
}
@media (min-width: 768px) { /*sm */
    .nav li {
        border-bottom: 5px solid #84C13F;
    }
    .nav li.active, .nav li:hover, .nav li:focus {
        /*border-bottom: 5px solid #2CB800;*/
        border-bottom: 5px solid #BB268F;
        background:none;
        padding-bottom:0;
    }
    #festival-navbar-menu.navbar-collapse{
        display: table !important;
    }
    /*.pageBody {
        padding-top:155px;
    }*/
}

@media (max-width: 767px) { /*xs*/
    .nav li {
        border-left: 5px solid #84C13F;
    }
    .nav li.active, .nav li:hover, .nav li:focus {
        /*border-left: 5px solid #2CB800;*/
        border-left: 5px solid #BB268F;
        background:none;
        padding-bottom:0;
    }
    /*.pageBody {
        padding-top:155px;
    }*/

}

.pageHead {
    z-index:10;
    background:inherit;
}

.pageMain {
    z-index:5;
}

.page-header{
	margin:0 auto;
	border:none;
    z-index:10;
}

.navbar-form{
	border:none;
	box-shadow:none;
	margin:0;
	margin-bottom:8px;
}

.navbar .row{
	padding:0 15px 0 15px;
}

#search-button {
	margin:0;
	padding: 3px 8px;
	background: #fff;
	top:0px;
}

#search-group .row{
	background:#F7F7F7;
	border-radius:4px;
}

#mod-search-searchword{
	border:none;
	margin-top:2px;
}

.jj_sl_navigation{
	top:100px;
}

.navbar-header{
	padding:0;
}

.navbar{
	margin:0;
    background-color:#84C13F;
}

.navbar a, .navbar a:visited, .navbar a:hover, .navbar a:active {
    color:#fff;
}
.navbar-inverse {
	background-color:#F05F2C;
}

.navbar-inverse .icon-bar {
	background-color:#00AF9A;
}

.newsfeed.jumbotron{
	background-repeat:no-repeat;
	background-size:cover;
	color:#fff;
}

h2.newsflash-title a, h2.newsflash-title a:visited, h2.newsflash-title a:hover, .home-text h2{
    color:#BC278F;
}


.well {
	background-color:inherit;
	border:none;
	box-shadow:none;
	margin-bottom:0px;
}

body { 
    background: url(../images/bg.jpg); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family:'Hind';
}


h1,h2,h3 {
	font-family:'Muli';
}

h1 {
    color:#BC278F;
}
h2 {
    color:#EE6030;
}
h3 {
    color:#EE6030;
}
h4 {
    color:#EE6030;
}

h1{font-size:36px;}
h2{font-size:32px;}
h3{font-size:24px;}
h4{font-size:20px;}


.page-header{
    padding-bottom:0;
}

.row-head {
    margin-right:0;
}

#siteLogo img {
    margin: 5px;
	width:100%;
}

.pageMain {
	margin-top:25px;
	margin-bottom:25px;
}


.pageBottom {
	background-color:#fff;
	margin-bottom:15px;
    width:100%;
}

.pageBottom div {
    padding-left:15px;
}

.pageFooter {
	text-align:center;
}

li {
	display:block;
}

/*li:before {
    content: "\e142";
    font-family: 'Glyphicons Halflings';
    font-size: 12px;
    float: left;
    margin-top: 4px;
    margin-left: -17px;
    color: #333333;
}

.navbar-nav li:before {
	content: ""
}*/


.nav li a:hover, .nav li a:focus{
    background:none;
}



::selection, ::-moz-selection {
    color: white;
    background: yellow;
}

.navbar-nav{
	font-family:'Oxygen';
	font-size:18px;
}

#festival-navbar-menu.navbar-collapse{
    float:none;
    margin: 0 auto;
    /*display: table !important;*/
}
a, a:visited, a:hover, a:active {
	color:#0D42A4;
	text-decoration:none;
}

a:hover {
	color:#062E72;
}

.artIntro {
      padding:10px;
      margin: 5px 0 20px 0;
      text-align:justify;
      font-family:Hind;
      color:#9B9896;
      background:#01102A;
      -webkit-border-radius: 5px ;
      -moz-border-radius: 5px;
      border-radius: 5px;
      margin: 10px 0;
}

#searchForm .only {
	display:none;
}

.form-horizontal .control-label {
	text-align:left;
}

.weblinks,
.category-module,
.syndicate-module,
ul.nav.menu,
#login-form {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	background:#eee;
	border:1px solid #ccc;
	padding:5px;
	margin:0px 0px 10px 0px;
}

.weblinks,
.category-module {
	padding:0px 0px 0px 20px;
}

.syndicate-module {
	display:block;
}

.home-text {
    padding:20px;
}
.home-text p{
    color: #00AF9A;
    text-align:justify;
}

h2.newsflash-title {
    text-align:left;
}


.carousel-control {
    background-image:none !important;
}

ul.ev_ul {
    list-style-type: none;
}
#jevents_body .jev_listview .jev_listrow li {
    border-width: 0 0 0 4px !important;
}

a.ev_link_row:hover {
    color:#007B82 !important;
}
a.ev_link_row {
    color:#007B82 !important;
    font-size:18px !important;
}

.jeventpage h2.contentheading {
    display:none;
}

.jeventpage h2, .jev_evdt_header .jev_evdt_title{
	font-family:'Muli';
    font-size:32px;
    color:#EE6030;
    font-weight:normal;
}

.jeventpage p {
    margin-top:15px;
}

#jevents_body {
    border:none;
    background-color:#fff;
}

#jev_maincal.jev_listview .jev_daysnames {
    color:#EE6030 !important; 
    font-size: 24px !important;
    width:100% !important;
    margin-top:25px !important;
    background-color:#fff !important;
    border-style:none !important;
}
